:host {
    min-height: 100dvh;
    padding: 1rem;
    background-color: var(--tertiary-light-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
    main {
        width: 22rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        background-color: var(--secondary-light-color);
        border-radius: 0.75rem;

        #logo {
            width: 64px;
            height: 80px;
            margin-block: 1rem 0.5rem;
            cursor: pointer;
        }

        #header {
            color: var(--primary-light-color);
            font-size: 1.625rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 0.5rem;

            #forgot-password {
                margin-bottom: 0.25rem;
            }
        }

        #register-suggestion {
            font-size: 1rem;
            font-weight: 300;
            color: var(--primary-container-color);
        }

        a {
            width: fit-content;
            color: var(--primary-light-color);
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .error {
            color: var(--error-color);
            word-wrap: break-word;
        }
    }
}

@media all and (width <= 384px) {
    :host {
        main {
            width: 100%;
        }
    }
}