<form [formGroup]="form">
    <div class="input-container">
        @let nameControl = form.controls.name;
        <p-floatLabel variant="on">
            <input pInputText id="name" formControlName="name" type="text" maxlength="32" [fluid]="true" (blur)="nameControl.validate()" (input)="nameControl.validate()"/>
            <label for="name">الاسم</label>
        </p-floatLabel>
        <small class="error">{{ nameControl.errorMessage() }}</small>
    </div>
    <div class="input-container">
        @let phoneNumberControl = form.controls.phoneNumber;
        <p-floatLabel variant="on">
            <p-inputmask mask="07999999999" id="phoneNumber" formControlName="phoneNumber" [fluid]="true" [invalid]="!isPhoneNumberCompleted && form.controls.phoneNumber.touched" (onBlur)="phoneNumberControl.validate()" (onComplete)="isPhoneNumberCompleted = true" (onInput)="isPhoneNumberCompleted = false" />
            <label for="phoneNumber">رقم الهاتف</label>
        </p-floatLabel>
        <small class="error">{{ phoneNumberControl.errorMessage() }}</small>
    </div>
    <div class="input-container">
        @let voterNumberControl = form.controls.voterNumber;
        <p-floatLabel variant="on">
            <input pInputText id="voterNumber" formControlName="voterNumber" type="text" maxlength="20" [fluid]="true" (blur)="voterNumberControl.validate()" (input)="voterNumberControl.validate()"/>
            <label for="voterNumber">رقم الناخب</label>
        </p-floatLabel>
        <small class="error">{{ voterNumberControl.errorMessage() }}</small>
    </div>
    <div class="input-container">
        @let votersCountControl = form.controls.votersCount;
        <p-floatLabel variant="on">
            <p-input-number id="votersCount" formControlName="votersCount" [fluid]="true" (onBlur)="votersCountControl.validate()" (onInput)="votersCountControl.validate()"/>
            <label for="votersCount">عدد الناخبين</label>
        </p-floatLabel>
        <small class="error">{{ votersCountControl.errorMessage() }}</small>
    </div>
    <div class="input-container">
        @let districtControl = form.controls.district;
        <p-floatLabel variant="on">
            <p-select id="district" formControlName="district" [options]="districtsPagination.items()" optionLabel="name" optionValue="id" appendTo="body" [fluid]="true" [filter]="true" (onHide)="districtControl.validate()" (onChange)="fetchSubdistricts()"></p-select>
            <label for="district">القضاء</label>
        </p-floatLabel>
        <small class="error">{{ districtControl.errorMessage() }}</small>
    </div>
    @if (subdistrictsRequest()) {
        <div class="input-container">
            @let subdistrictControl = form.controls.subdistrict;
            <p-floatLabel variant="on">
                <p-select id="subdistrict" formControlName="subdistrict" [options]="subdistrictsPagination.items()" optionLabel="name" optionValue="id" appendTo="body" [fluid]="true" [filter]="true" (onHide)="subdistrictControl.validate()"></p-select>
                <label for="subdistrict">الناحية</label>
            </p-floatLabel>
            <small class="error">{{ subdistrictControl.errorMessage() }}</small>
        </div>
    }

    <div id="radio-buttons">
        <span id="hint">تدار من قبل:</span>
        <div class="radio-button">
            <p-radiobutton name="creator" value="Supervisor" inputId="supervisor" formControlName="creator" />
            <label for="supervisor">المشرف</label>
        </div>
        <div class="radio-button">
            <p-radiobutton name="creator" value="Member" inputId="member" formControlName="creator" />
            <label for="member">العضو</label>
        </div>
    </div>

    @switch (form.controls.creator.value) {
        @case ('Supervisor') {
            <div class="input-container">
                @let supervisorControl = form.controls.supervisor;
                <p-floatLabel variant="on">
                    <p-select id="supervisor" formControlName="supervisor" [options]="supervisorsPagination.items()" optionLabel="name" optionValue="id" appendTo="body" [fluid]="true" [filter]="true" (onHide)="supervisorControl.validate()"></p-select>
                    <label for="supervisor">المشرف</label>
                </p-floatLabel>
                <small class="error">{{ supervisorControl.errorMessage() }}</small>
            </div>
        }
        @case ('Member') {
            <div class="input-container">
                @let memberControl = form.controls.member;
                <p-floatLabel variant="on">
                    <p-select id="member" formControlName="member" [options]="membersPagination.items()" optionLabel="name" optionValue="id" appendTo="body" [fluid]="true" [filter]="true" (onHide)="memberControl.validate()"></p-select>
                    <label for="member">العضو</label>
                </p-floatLabel>
                <small class="error">{{ memberControl.errorMessage() }}</small>
            </div>
        }
    }

    @if (creation.status() === 'error') {
        <small class="error">{{ parseErrorMessage(creation.error()) }}</small>
    }
    @let neitherMemberNorSupervisorIsProvided = !this.form.controls.member.value && !this.form.controls.supervisor.value;
    <p-button label="إضافة" styleClass="p-button" [fluid]="true" [disabled]="!form.valid || !isPhoneNumberCompleted || creation.status() === 'loading' || neitherMemberNorSupervisorIsProvided" (onClick)="create()" [loading]="creation.status() === 'loading'" />
</form>