:host {

    form {
        display: flex;
        flex-direction: column;
        gap: 1.75rem;
        padding-top: 0.5rem;
        min-width: 16rem;
    }

    .error {
        color: var(--error-color);
    }
}